  /*
   * @CSS3 Tabstrip
   * @author Martin Ivanov
   * @website http://wemakesites.net
   * @blog http://acidmartin.wordpress.com/
   * @twitter https://twitter.com/wemakesitesnet
   **/
   
  /*
   * Width should be set to the outermost element
   * if you have multiple tabstrips on a single page
   * you can set dimensions using for example additional class names
   * or IDs. In this case, I am applying width and height to the 
   * base CSS class.
   **/

  .tabstrip {
    -webkit-transition : all .4s ease-out;
            transition : all .4s ease-out;
      /* Make text non-selectable */
      -webkit-touch-callout: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
  }    
   
  .tabstrip ul,
  .tabstrip li {
    margin      : 0;
    padding     : 0;
    list-style  : none;
  }
   
  .tabstrip,
  .tabstrip input[type="radio"]:checked + label {
    position: relative;
  }
   
  .tabstrip li,
  .tabstrip input[type="radio"] + label {
    display: inline-block;
  }
   
  .tabstrip li > div,
  .tabstrip input[type="radio"] {
    position: absolute;
  }
   
  .tabstrip li > div,
  .tabstrip input[type="radio"] + label {
    /*border: solid 1px #ccc;*/
  }
   
  .tabstrip {
    font-size: 20px;
    color: #222;
  }
   
  .tabstrip li {
    vertical-align: top;
  }
   
  .tabstrip li:first-child {
    margin-left: 8px;
  }
   
  .tabstrip li > div {
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #f8f8f4;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
   
  .tabstrip input[type="radio"] + label {
    /*margin: 0 2px 0 0;*/
    padding: 0 18px;
    line-height: 32px;
    color: #fff;
    background-color: #000;
    text-align: center;
    /*border-radius: 5px 5px 0 0;*/
    cursor: pointer;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
   
  .tabstrip input[type="radio"]:checked + label {
    z-index: 1;
    background: #0099D6;
    color: #fff;
    font-weight: 400;
    border-bottom-color: #ff0545;
    cursor: default;
  }
   
  .tabstrip input[type="radio"] {
    opacity: 0;
  }
   
  .tabstrip input[type="radio"] ~ div {
    display: none;
  }
   
  .tabstrip input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
  }
   
  .tabstrip input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
  }