<link rel="stylesheet" type="text/css" href="/html5/assets/font/clan.css">
<link rel="stylesheet" type="text/css" href="/html5/assets/font/aPi.css">
<style type="text/css">

	/* template styles */
	.concert {
		position: relative;
		font-family: "ClanOT", sans-serif;
		font-size : 32px;
	}

	.concert .image {
		width: 100%;
		margin: auto auto;
	}


	#text {
		font-size: 24px;
		text-align: center;
	}

	.concert .imagecontainer {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 8px;
		height: 348px;
	}


	.concert .hashtag {
		margin-left: 10px;
		margin-bottom: 0;
	}


	#title {
		background-color: #e6007e;
		padding: 2px 10px 2px;
	}

	.concert .title {
		color: #fff;
		margin-top: 10px;
		text-align: center;
		font-weight: 800;
	}

	.concert .score {
		/*color: rgba(38,188,244,1);*/
		position: absolute;
		top: 144px;
		right: 44px;
		color: #fff;
		font-size: 96px;
		z-index: 1;
	}





	.concert .score-medallion {
		color: #fff;
		width: 100px;
		height: 100px;
		background: #e6007e;
		font-size: 80px;
		font-weight: 800;
		border-radius: 50%;
		border: none;
		padding-top: 18px;
		padding-left: 12px;
	}

	.concert .score-numerator {
		color: #fff;
		background: transparent;
		opacity: 0.66;
		font-size: 66%;
		font-weight: 500;
		border-radius: 0;

	}

	/* widescreen */
	@media (min-width: 600px) {

		.concert .ingress {
			/*position: absolute;*/
						/*margin-top: 16px;*/
			margin-left: 16px;
			font-size: 24px;
		}


		#text {
			margin-top: 8px;
		}
		.concert .image {
			width: 100%
		}
	
		.concert .imagecontainer {
			width: 50%;
			height: 249px;
		}

		.concert .hashtag {
			position: absolute;
			right: 10px;
		}

		#text {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 0;
			width: 45%;
		}
	}


</style>


<div class="concert">
	{{#image}}
		<div class="imagecontainer" style="text-align: center;">
			<img src="{{image}}" class="image">
		</div>
	{{/image}}
	<div id="text">
		<div class="title">
			<span id="title" {{#titleSize}} style="font-size: {{titleSize}}%;" {{/titleSize}} >{{title}}</span>
		</div>
		<div class="ingress" {{#ingressSize}} style="font-size: {{ingressSize}}%;" {{/ingressSize}} >
			{{ingress}}
		</div>
	</div>
</div>

<script type="text/javascript">
	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>
<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
