<style type="text/css">

	body {
		color: #fff;
		/* PURPLE */
		background-color: rgb(230, 75, 202);
	}

	/* template styles */
	.concert {
		position: relative;
		font-family: 'ClanOT', sans-serif;
		font-size : 32px;
		height: 100%;
	}


	.box {
	  width: 100%;
	  height: 50%;
	  margin: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 44px;
/*	  right: 0;
	  bottom: 0;
*/	}

	.box > img {
	  position: relative;
	  z-index: -1;
	  top: 50%;
	  left: 50%;
	  width: 100%;
	  -webkit-transform: translate(-50%, -50%);
	      -ms-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	}

	.box > img.max {
	  width: auto;
	  height: 100%;
	}

	#table {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

	.concert .title {
		font-family: PublicoHeadline, Publico, serif;
		background-color: rgba(255, 255, 255, .8);
		/*padding: 0 10px;*/
		margin-top: 12px;
		color: #5B0039;
		text-align: center;
		font-weight: 900;
	}

	.concert .score{
		/*color: rgba(38,188,244,1);*/
    font-family : PublicoHeadline, Publico, serif;
		position: absolute;
		right: 32px;
		bottom: 32px;
		color: #fff;
		z-index: 5001;
	}

	.concert .score-medallion {
		color: #fff;
		width: 64px;
		height: 64px;
		text-align: center;
		background-color: rgb(230, 75, 202);
		font-size: 52px;
		font-weight: 900;
		border-radius: 50%;
		border: none;
		/*padding-top: 18px;*/
	}

	#image {
		position: absolute;
		margin: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 50%;
		overflow: hidden;
	}

	#text {
		position: absolute;
		/*text-align: center;*/
		right: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		height: 50%;
	}

	@media (min-width: 602px) {

		#image {
			width: 50%;
			height: 100%;
			overflow: hidden;
		}
		#text {
			width: 50%;
			height: 100%;
		}
		#table {
			font-size: 26px;
		}
		#ingress {
			font-weight: 400;
			line-height: 26px;
		}

	}

	@media (max-width: 601px) {
		#image {
			width: 100%;
			height: 50%;
			overflow: hidden;
		}
		#text {
			width: 100%;
			height: 50%;
		}
		#table {
			font-size: 36px;
		}
	}
</style>


<div class="concert">
	<div id="image">
		{{#image}}
			<div class="box">
				<img id="imageElement" src="{{image}}" class="image" width="320" height="320">
			</div>
		{{/image}}
	<div class="score">
		<div class="score-medallion">{{score}}</div>
	</div>
	</div>
	<div id="text">
		<table id="table">
			<tr>
				<td align="center" valign="middle"><div id="title" class="title">concert-1: {{title}}</div></td>
			</tr>
			<tr>
				<td align="center" valign="top" id="ingress" class="ingress">{{ingress}}</td>
			</tr>
		</table>
	</div>
</div>


	<script type="text/javascript">

	document.addEventListener("DOMContentLoaded", function(e) {
		var
			msg = {}, 
			bgColor, fgColor, title, style;

		title = document.querySelector(".title");
		if (title) {
			style = getComputedStyle(title, null);
			console.info("getPropertyValue : "  + style.getPropertyValue("color"));
			msg.fgColor = style.getPropertyValue("color");
			style = getComputedStyle(document.body, null);
			msg.bgColor = style.getPropertyValue("background-color");
			window.top.postMessage(msg, "*");
		}
	});




	function updateInstagramList() {
		var
			arr, insta, item, 
			imageCount = 5,
			instas = document.getElementsByClassName("image");

		imageCount = instas.length;
		if (window.data && window.data.instagram && window.data.instagram.liked && window.data.instagram.liked.length) {
			arr = window.data.instagram.liked;
			for (var i = 0; (i < arr.length && i < imageCount); i++) {
				if (arr[i]['type'] == "image") {
					// instadiv.appendChild(insta);
					item = instas[i];
					if (item) {
						insta = document.createElement("img");
						insta.src = arr[i]['images']['standard_resolution']['url'];
						insta.alt = arr[i]['caption']['text'];
						insta.title = insta.alt;
						insta.style.height = "6em";
						item.appendChild(insta);
						console.info("found one: " + i);
					}
					else {
						console.info("not found: " + i);
					}
				}
				else {
					// console.info("Skipping type : " + arr[i]['type']);
				}
			}
		}
	}



	function updateInstagram(data) {
		var
			data = data || null;

		if (!window.data) {
			window.data = {};
		}
		if (!window.data.instagram) {
			window.data.instagram = {};
		}
		window.data.instagram.liked = [];
		if (data && data.length) {
			for (var i = 0; i < data.length; i++) {
				window.data.instagram.liked.push(data[i]);
				// console.info("INSTAGRAM : " + data[i].type + ", " +data[i]['images']['standard_resolution']['url']);
			}
			updateInstagramList();
		}
		else {
			console.error("No data in updateInstagram()!");
		}
	}


 	function loadInstagram() {
		var
			instaurl = "assets/php/instagram.php",
			instadiv = document.getElementById("instagram");

		pi.xhr.get(instaurl, function (json) {
			var
				data = null,
				json = json || null;
			if (json && json.length) {

				try {
					data = JSON.parse(json);
					if (data && data.meta && data.meta.code) {
						if (data.meta.code == 200) {
							updateInstagram(data.data);
						}
						else {
							console.error("Error loading instagram data, code : " + data.meta.code);
						}
					}
				}
				catch(e) {
					console.error("Error : " + e);
				}
			}
			else {
				console.error("!json &&json.length");
			}

		}, console.error);

	}

	loadInstagram();

	</script>

<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
