<link rel="stylesheet" type="text/css" href="/html5/assets/font/clan.css">
<!-- <link rel="stylesheet" type="text/css" href="/html5/assets/font/aPi.css"> -->
<style type="text/css">

	/* template styles */
	.concert {
		position: relative;
		font-family: 'ClanOT', sans-serif;
		font-size : 32px;
		height: 99%;
	}


	.box {
	  width: 99%;
	  height: 49%;
	  margin: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}

	.box > img {
		/*display: block;*/
	  position: relative;
	  z-index: -1;
	  top: 49%;
	  left: 49%;
	  width: 99%;
	  -webkit-transform: translate(-49%, -49%);
	      -ms-transform: translate(-49%, -49%);
	          transform: translate(-49%, -49%);
	}
	.box > img.max {
	  width: auto;
	  height: 99%;
	}

	#table {
		width: 99%;
		height: 99%;
		vertical-align: middle;
	}

	.concert .title {
		background-color: #e6007e;
		padding: 4px 10px 4px;
		color: #fff;
		text-align: center;
		font-weight: 800;
	}

	#image {
		position: absolute;
		margin: 0;
		left: 0;
		top: 0;
		width: 99%;
		height: 49%;
		overflow: hidden;
	}

	#text {
		position: absolute;
		/*text-align: center;*/
		right: 0;
		bottom: 0;
		margin: 0;
		width: 99%;
		max-width: 99%;
		height: 49%;
	}

	@media (min-width: 602px) {

		#image {
			width: 49%;
			height: 99%;
			overflow: hidden;
		}
		#text {
			width: 49%;
			height: 99%;
		}
		#table {
			font-size: 28px;
		}
		#ingress {
			font-size: 26px;
			font-weight: 400;
			line-height: 26px;
		}
	}

	@media (max-width: 601px) {
		#image {
			width: 99%;
			height: 49%;
			overflow: hidden;
		}
		#text {
			width: 99%;
			height: 49%;
		}
		#table {
			font-size: 36px;
		}
	}
</style>


<div class="concert">
	<div id="image">
		{{#image}}
			<div class="box">
				<img id="imageElement" src="{{image}}" class="image">
			</div>
		{{/image}}
	</div>
	<div id="text">
		<table id="table">
			<tr>
				<td align="center" valign="middle"><div id="title" class="title">{{title}}</div></td>
			</tr>
			<tr>
				<td align="center" valign="top" id="ingress" class="ingress">{{ingress}}</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>




<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
