<link rel="stylesheet" type="text/css" href="/html5/assets/font/clan.css">
<style type="text/css">

	/* template styles */
	.concert {
		position: relative;
		font-family: "ClanOT", sans-serif;
		font-size : 32px;
	}

	.concert .image {
		height: 328px;
		margin: auto auto;
	}


	#text {
		font-size: 48px;
		text-align: center;
	}

	.concert .imagecontainer {
		position: absolute;
		display: block;
		overflow: hidden;
		/*margin: 8px; */
		margin: 0 auto;
		text-align: center;		
		width: 100%;
		/*width: calc(100%-20px); */
		height: 328px;
	}



	.concert .hashtag {
		margin-left: 10px;
		margin-bottom: 0;
	}


	#title {
		background-color: #e6007e;
		padding: 8px 10px 4px;
	}

	.concert .title {
		color: #fff;
		margin-top: 12px;
		text-align: center;
		font-weight: 800;
	}

	.concert .score{
		/*color: rgba(38,188,244,1);*/
		position: absolute;
		top: 250px;
		right: 24px;
		color: #fff;
		font-size: 96px;
		z-index: 1;
	}



	.concert .ingress {
		margin-top: 12px;
		font-size: 40px;
		font-weight: 600;
	}



	.concert .score-medallion {
		color: #fff;
		width: 100px;
		height: 100px;
		background: #e6007e;
		text-align: center;
		font-size: 88px;
		font-weight: 900;
		border-radius: 50%;
		border: none;
	}


@media (min-width: 602px) {
	.concert .title {
		margin-top: 4px;
		font-size: 40px;
	}

	.concert .ingress {
		margin-left: 16px;
		font-size: 40px;
	}

	.concert .score {
		/*color: rgba(38,188,244,1);*/
		top: 128px;
		font-size: 36px;
		left: 250px;
		z-index: 5000;
	}

	.concert .score-medallion {
		width: 72px;
		height: 72px;
		font-size: 66px;
		z-index: 5001;
	}

	.concert .hashtag {
		visibility: hidden;
	}

	#text {
		margin-top: 12px;
		text-align: left;
	}
}

	/* widescreen */
	@media (min-width: 602px) {
		.concert .image {
			height: 231px;
		}
		.concert .imagecontainer {
			width: 48%;
		}

		.concert .hashtag {
			position: absolute;
			right: 10px;
		}

		#text {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 44px;
			margin-top: 16px;
			width: 48%;
		}
	}



</style>

<div class="concert">
	{{#image}}
		<div class="imagecontainer">
			<img src="{{image}}" class="image">
		</div>
	{{/image}}
	{{#score}}
	<div class="score">
		<div class="score-medallion">{{score}}</div>
	</div>
	{{/score}}
	<div id="text">
		<div class="title">
			<span id="title" {{#titleSize}} style="font-size: {{titleSize}}%;" {{/titleSize}} >{{title}}</span>
		</div>
		<div class="ingress" {{#ingressSize}} style="font-size: {{ingressSize}}%;" {{/ingressSize}} >
			{{ingress}}
		</div>
	</div>
</div>

<script type="text/javascript">
	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>
<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
