<style type="text/css">


	body {
		color: #fff;
				/* BLUE */
		background-color: rgb(69, 128, 223);
		/*background-color: rgb(230, 75, 202);*/
		text-shadow: 0px 1px 4px rgba(0,0,0,.33);
	}


	/* template styles */
	.concert {
		position: relative;
		font-family: 'ClanOT', sans-serif;
		font-size : 32px;
		height:100%;
		min-height: 100%;
		max-height: 100%;
	}


	.box {
	  width: 100%;
	  height: 50%;
	  min-height: 44px;
	  margin: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}

	.box > img {
	  position: relative;
	  z-index: 1;
	  top: 50%;
	  left: 50%;
	  width: 100%;
	  height: auto;
	  -webkit-transform: translate(-50%, -50%);
	      -ms-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	}

	.box > img.max {
	  width: auto;
	  height: 100%;
	}

	#table {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

			/* HEADER BACKGROUND COLOURS */
			/* PURPLE: 	#E64BCA  rgb(230, 75, 202)  */

			/* TEXT COLOURS */
			/* PURPLE: 	#5B0039 	rgb(90, 0, 56) 		*/


	.concert .title {
    font-family : PublicoHeadline, Publico, serif;
		background-color: rgba(255, 255, 255, .7);
		/*padding: 0 10px;*/
		margin-top: 20px;
		/*color: rgb(90, 0, 56);*/
		color: rgb(27, 49, 98);
		text-align: center;
		font-weight: 900;
		text-shadow: none;
	}	

	.concert .ingress {
		padding: 0 8px;
	}



	.concert .score{
		/*color: rgba(38,188,244,1);*/

		position: absolute;
		right: 32px;
		bottom: 32px;
		color: #fff;
		z-index: 5001;
	}

	.concert .score-medallion {
    font-family : PublicoHeadline, Publico, serif;
		color: #fff;
		width: 64px;
		height: 64px;
		text-align: center;
		background: rgb(230, 75, 202);
		font-size: 52px;
		font-weight: 900;
		border-radius: 50%;
		box-shadow: 0px 1px 4px rgba(0,0,0,.5);
		border: none;
		padding-top: 3px;
		padding-right: 3px;
	}

	#image {
		position: absolute;
		margin: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 50%;
		overflow: hidden;
	}

	#text {
		position: absolute;
		/*text-align: center;*/
		right: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		height: 50%;
	}

	@media (min-width: 602px) {

		#image {
			width: 50%;
			height: 100%;
			overflow: hidden;
		}
		#text {
			width: 50%;
			height: 100%;
		}
		#table {
			font-size: 26px;
		}
		#ingress {
			line-height: 26px;
		}

	}

	@media (max-width: 601px) {
		#image {
			width: 100%;
			height: 50%;
			background-color: rgba(0,0,0,0.6);
			overflow: hidden;
		}
		#text {
			width: 100%;
			height: 50%;
		}
		#table {
			font-size: 36px;
		}
	}


	#timer {
		font-weight: 700;
	}
	.debug {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		color: #fff;
		font-size: 12px;
	}

</style>


<div class="concert">
	<div id="image">
		{{#image}}
			<div class="box">
				<img id="imageElement" src="{{image}}" class="image">
			</div>
		{{/image}}
	</div>
	<div id="text">
		<table id="table" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" valign="middle"><div id="title" class="title">{{title}}</div></td>
			</tr>
			<tr>
				<td align="center" valign="top" id="ingress" class="ingress">{{ingress}}</td>
			</tr>
		</table>
	</div>
	<div class="debug"><span id="timer"></span> concert-2.html</div>
</div>


<script type="text/javascript">
	function setStatusText(text) {
		alert("Status: " + text);
	}

	document.addEventListener("DOMContentLoaded", function(e) {
		var
			time = 0,
			timer = document.getElementById("timer"),
			msg = {}, 
			bgColor, fgColor, title, style;

		function updateTime(){
			time++;
			timer.textContent = time + "s";
		}

		if (timer) {
			setInterval (updateTime, 1000);
		}

		title = document.querySelector(".title");
		if (title) {
			style = getComputedStyle(title, null);
			// console.info("getPropertyValue : "  + style.getPropertyValue("color"));
			msg.fgColor = style.getPropertyValue("color");
			style = getComputedStyle(document.body, null);
			msg.bgColor = style.getPropertyValue("background-color");
			if (window.parent) {
				window.parent.postMessage(msg, "*");
			}
			else {
				window.top.postMessage(msg, "*");
			}
		}
	});

	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	// console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    // console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>
<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
