<link rel="stylesheet" type="text/css" href="/html5/assets/font/clan.css">
<!-- <link rel="stylesheet" type="text/css" href="/html5/assets/font/aPi.css"> -->
<style type="text/css">

	/* template styles */
	.food {
		position: relative;
		font-family: "ClanOT", sans-serif;
		font-size : 32px;
		height: 100%;
	}


	.box {
	  width: 100%;
	  height: 50%;
	  margin: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}

	.box > img {
	  position: relative;
	  z-index: -1;
	  top: 50%;
	  left: 50%;
	  width: 100%;
	  -webkit-transform: translate(-50%, -50%);
	      -ms-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	}

	.box > img.max {
	  width: auto;
	  height: 100%;
	}

	#table {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

	.food .title {
		background-color: #e6007e;
		padding: 0 10px;
		color: #fff;
		text-align: center;
		font-weight: 900;
	}

	.food .score{
		/*color: rgba(38,188,244,1);*/

		position: absolute;
		right: 32px;
		bottom: 32px;
		color: #fff;
		z-index: 5001;
	}

	.food .score-medallion {
    font-family : 'AvenirNext-Heavy', 'AvenirNext-Bold ', 'Avenir Black', 'Arial Black', Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', Roboto, Futura, 'HelveticaNeue', 'Segoe UI', sans-serif;
		color: #fff;
		width: 64px;
		height: 64px;
		text-align: center;
		background: #e6007e;
		font-size: 52px;
		font-weight: 900;
		border-radius: 50%;
		border: none;
		/*padding-top: 18px;*/
	}

	#image {
		position: absolute;
		margin: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 50%;
		overflow: hidden;
	}

	#text {
		position: absolute;
		/*text-align: center;*/
		right: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		height: 50%;
	}

	@media (min-width: 602px) {

		#image {
			width: 50%;
			height: 100%;
			overflow: hidden;
		}
		#text {
			width: 50%;
			height: 100%;
		}
		#table {
			font-size: 28px;
		}

	}

	@media (max-width: 601px) {
		#image {
			width: 100%;
			height: 50%;
			overflow: hidden;
		}
		#text {
			width: 100%;
			height: 50%;
		}
		#table {
			font-size: 36px;
		}
	}
</style>


<div class="food">
	<div id="image">
		{{#image}}
			<div class="box">
				<img src="{{image}}" class="image">
			</div>
		{{/image}}
	<div class="score">
		<div class="score-medallion">{{score}}</div>
	</div>
	</div>
	<div id="text">
		<table id="table">
			<tr>
				<td align="center" valign="middle"><span class="title">{{title}}</span></td>
			</tr>
			<tr>
				<td align="center" valign="top" class="ingress">{{ingress}}</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>
<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
