<link rel="stylesheet" type="text/css" href="/html5/assets/font/clan.css">
<style type="text/css">

	/* template styles */
	.food {
		position: relative;
		font-family: "ClanOT", sans-serif;
		font-size : 32px;
	}

	.food .image {
		/*margin: 4px;*/
		width: -webkit-calc(100%-8px);
		width: calc(100%-8px);
		height: 12em;
	}


	#text {
		background: transparent;
		font-size: 48px;
		text-align: center;
	}


	/* widescreen */
	@media (min-width: 672px) {
		.food .image {
			/*margin: 4px;*/
			width: -webkit-calc(100%-8px);
			width: calc(100%-8px);
			height: 7em;
		}

		.food .hashtag {
			position: absolute;
			right: 10px;
		}

		#text {
			position: absolute;
			top: 0;
			right: 0;
			/*font-size: 44px;*/
			margin-top: 16px;
			width: 45%;
		}
	}


	.food .hashtag {
		margin-left: 10px;
		margin-bottom: 0;
	}


	#title {
		background-color: #e6007e;
		padding: 8px 10px 4px;
	}

	.food .title {
		color: #fff;
		margin-top: 32px;
		text-align: center;
		font-weight: 800;
	}

	.food .score{
		/*color: rgba(38,188,244,1);*/
		position: absolute;
		top: 3em;
		right: 0.5em;
		color: #fff;
		font-size: 96px;
		z-index: 1;
	}



	.food .ingress {
		margin-top: 12px;
		font-size: 40px;
		font-weight: 600;
	}


	.food .imagecontainer {
		display: block;
		overflow: hidden;
		margin: 8px; 
		width: -webkit-calc(100%-20px); 
		width: calc(100%-20px); 
		height: 328px;
	}

	.food .score-medallion {
		color: #fff;
		width: 100px;
		height: 100px;
		text-align: center;
		background: #e6007e;
		font-size: 80px;
		font-weight: 800;
		border-radius: 50%;
		border: none;
		/*padding-top: 18px;*/
	}

	.food .score-numerator {
		color: #fff;
		background: transparent;
		opacity: 0.66;
		font-size: 66%;
		font-weight: 500;
		border-radius: 0;

	}

@media (min-width: 672px) {
	.food .title {
		font-size: 40px;
	}

	.food .ingress {
		margin-left: 16px;
		font-size: 40px;
		/*line-height: 90%;*/
	}

	.food .score{
		/*color: rgba(38,188,244,1);*/
		top: 120px;
		font-size: 36px;
		left: 244px;
		z-index: 5000;
	}
	.food .score-medallion {
		width: 72px;
		height: 72px;
		font-size: 64px;
	}
	.food .hashtag {
		visibility: hidden;
	}


	#text {
		margin-top: 8px;
		text-align: left;
	}
}



</style>

<div class="food">
	{{#image}}
		<div class="imagecontainer">
			<img src="{{image}}" class="image">
		</div>
	{{/image}}
	{{#score}}
	<div class="score">
		<div class="score-medallion">{{score}}</div>
	</div>
	{{/score}}
	<div id="text">
		<div class="title">
			<span id="title" {{#titleSize}} style="font-size: {{titleSize}}%;" {{/titleSize}} >{{title}}</span>
		</div>
		<div class="ingress" {{#ingressSize}} style="font-size: {{ingressSize}}%;" {{/ingressSize}} >
			{{ingress}}
		</div>
	<div>
</div>

<script type="text/javascript">
	/**
	 * Communicate with parent through postMessage
	 */

		var 
			parent = null,

			onWindowMessage = function(e) {
		  	console.info("onmessage: " + e.origin);
		    if (!parent && e.source) {
		    	parent = e.source;
		    }

		    // e.data is the string sent by the origin with postMessage.
		    if(e.data == 'ping') {
		      e.source.postMessage('pong:'+document.body.scrollHeight+','+document.body.scrollWidth, e.origin);
		    }
		    console.log ("e.data:", e.data);
			};

		window.addEventListener('message', onWindowMessage, false);


</script>
<!--
{{#reply}}
  <ul>
  {{#DEBUG}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/DEBUG}}
  </ul>
{{/reply}}
-->

<!--
{{#reply}}
  <ul>
  {{#request}}
    <li>
    {{#.}}
        <b>{{.}}</b>
    {{/.}}
    </li>
  {{/request}}
  </ul>
{{/reply}}
-->
